html,
body {
  font-size: 14px;
  line-height: normal;
  background: #fff;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  width: 100%;
}
header {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 1;
}
header .search-mobile input {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  top: 10px;
  padding-left: 40px;
  width: 50%;
  z-index: 3;
}
header .search-mobile button {
  position: absolute;
  top: 15px;
  z-index: 4;
  color: #d73a1e;
  font-size: 20px;
}
header .logo {
  float: left;
  padding-top: 5px;
}
@media screen and (min-width: 768px) {
  header .logo {
    padding-left: 5%;
  }
}
header .logo .name {
  color: #d73a1e;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
header .logo .name span {
  color: #eb8370;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
header .logo .slogan {
  font-family: 'Droid Sans', sans-serif;
  font-style: italic;
  color: #523468;
  margin: 0;
  text-align: center;
}
header .logo .slogan:after,
header .logo .slogan:before {
  display: inline-block;
  content: "";
  border-top: 1px solid #523468;
  width: 20px;
  margin: 0 5px;
  transform: translateY(-4px);
}
header .search-bar {
  width: 50%;
  padding-top: 30px;
  float: left;
}
header .search-bar button {
  position: absolute;
  border: 0;
  font-size: 20px;
  margin-top: -4px;
  margin-left: 5px;
  cursor: pointer;
  color: #d73a1e;
}
header .search-bar input {
  width: 55%;
  border-radius: 5px;
  border: 1px solid #000;
  height: 35px;
  margin-top: -20px;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  header .search-bar {
    display: none;
  }
}
header .cart {
  float: right;
  padding-top: 10px;
  width: 15%;
  padding-right: 20px;
}
@media screen and (min-width: 992px) {
  header .cart {
    width: 20%;
    padding-right: 5%;
    display: inline-flex;
  }
}
header .cart .bag {
  text-transform: uppercase;
  color: #e6e6e6;
}
@media screen and (min-width: 992px) {
  header .cart .bag {
    line-height: 3;
  }
}
header .cart .bag span {
  color: #d73a1e;
  text-transform: uppercase;
  font-weight: bold;
}
header .cart .shipping {
  display: none;
}
@media screen and (min-width: 992px) {
  header .cart .shipping {
    display: block;
    text-align: left;
    padding-right: 25px;
    font-style: italic;
    line-height: 1.5;
    color: #d73a1e;
  }
}
.shipping-mobile {
  position: fixed;
  background-color: #e6e6e6;
  width: 100%;
  left: 0;
  padding: 10px;
  padding-left: 0;
  top: 70px;
  display: block;
}
@media screen and (min-width: 992px) {
  .shipping-mobile {
    display: none;
  }
}
.shipping-mobile span {
  font-style: italic;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
footer {
  background-color: #e6e6e6;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer .subscribe {
  padding: 10px;
  background-color: #fff;
  margin: 10px;
  text-align: left;
}
@media screen and (min-width: 992px) {
  footer .subscribe {
    float: right;
    width: 40%;
    border-radius: 5px;
    padding: 30px;
    margin-right: 30px;
  }
}
footer .subscribe input {
  width: 55%;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  padding-left: 10px;
  height: 35px;
}
footer .subscribe button {
  width: 38%;
  background-color: #e55c43;
  padding-bottom: 13px;
  padding-top: 9px;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  footer .content {
    float: left;
    padding: 15px;
  }
}
footer .menu-footer {
  display: none;
}
@media screen and (min-width: 992px) {
  footer .menu-footer {
    display: flex;
    padding-left: 0;
  }
}
footer .menu-footer li {
  list-style: none;
}
footer .menu-footer a {
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 30px;
  color: #d73a1e;
}
footer .icons {
  background: url('../../assets/image/social-medias.png') no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 10px;
}
footer .facebook {
  background-position: 0 -5px;
}
footer .twitter {
  background-position: -151px -5px;
}
footer .pinterest {
  background-position: -99px -5px;
}
footer .twitter-bird {
  background-position: -50px -5px;
}
footer .google {
  background-position: -200px -5px;
}
main .content {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}
main .content section {
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  text-align: center;
  margin: 0;
  top: 100px;
  width: 70%;
  padding-bottom: 50%;
}
@media screen and (min-width: 992px) {
  main .content section {
    margin: 12% 0;
    padding-bottom: 15%;
    width: 40%;
  }
}
main .content ul {
  column-count: 2;
  list-style: none;
  padding-left: 0;
}
@media screen and (min-width: 992px) {
  main .content ul {
    column-count: 3;
  }
}
main .content img {
  max-width: 1080px;
  width: 100%;
  height: auto;
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 40px;
  left: 0;
  background-color: #fff;
}
header .menu-desktop {
  display: inline;
}
header .menu-desktop ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: #523468;
  right: 15px;
  width: 100%;
  position: relative;
  display: inline-flex;
}
header .menu-desktop li {
  float: left;
  padding-left: 30px;
}
header .menu-desktop li a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
header .menu-desktop li a:hover {
  background-color: #372346;
  border-radius: 5px;
}
@media screen and (max-width: 992px) {
  header .menu-desktop {
    display: none;
  }
}
#header-nav-mobile {
  display: none;
}
#menu-mobile,
#close-menu {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  display: block;
}
#menu-mobile i,
#close-menu i {
  font-size: 35px;
  color: #523468;
}
@media screen and (min-width: 992px) {
  #menu-mobile,
  #close-menu {
    display: none;
  }
}
.nav-mobile {
  background-color: #523468;
  padding: 5px 0;
  margin-top: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-style: italic;
  font-size: 14px;
}
.nav-mobile li {
  border-bottom: 1px solid #6f478d;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.nav-mobile li:hover {
  background-color: #452c57;
  border-bottom: 0;
}
.nav-mobile a {
  padding-left: 25px;
  color: #fff;
  text-decoration: none;
}
.nav-mobile ul {
  text-align: center;
  padding-left: 0;
}
.nav-mobile ul > li {
  display: inline-block;
  border: 0;
}
.nav-mobile ul > li:first-child:after {
  content: 'or';
  color: #fff;
  padding-left: 10px;
}
.nav-mobile ul a {
  padding-left: 12px;
}
