@import (reference) "../structure/global.less";

main {
	.content {
		display: table;
		width: 100%;
		position: absolute;
		height: 100%;
				
		section {
			left: 50%;
			position: absolute;
			transform: translate(-50%);
			text-align: center;
			margin: 0;
			top: 100px;
			width: 70%;
			padding-bottom: 50%;

				@media screen and (min-width: @md){
					margin: 12% 0;
					padding-bottom: 15%;
					width: 40%;
				}
		}	

		ul {
			column-count: 2;
			list-style: none;
			padding-left: 0;
			
			@media screen and (min-width: @md){
				column-count: 3;
			}
	}

		img {
			max-width: 1080px;
			width: 100%;
			height: auto;
		}
	}
}
