footer {
	background-color: @color-2;
	text-align: center;
    position: fixed;
    width: 100%;
	bottom: 0; 
	left: 0;

	.subscribe {
		padding: 10px;
		background-color: @white;
		margin: 10px;
		text-align: left;

		@media screen and (min-width: @md){
			float: right;
			width: 40%;
			border-radius: 5px;
			padding: 30px;
			margin-right: 30px;
		}

		input{
			width: 55%;
			border-radius: 5px;
			border: 1px solid @color-2;
			padding-left: 10px;
			height: 35px;
		}

		button {
			width: 38%;
			background-color: lighten(@color-3, 10%);;
			padding-bottom: 13px;
			padding-top: 9px;
			color: @white;
			border-radius: 5px;
			font-size: 15px;
			text-transform: uppercase;
		}
	}

	.content {
		@media screen and (min-width: @md){
			float: left;
			padding: 15px;
		}
	}
	.menu-footer {
		display: none;

		@media screen and (min-width: @md){
			display: flex;
			padding-left: 0;
		}

		li {
			list-style: none;
		}

		a {
			text-decoration: none;
			text-transform: uppercase;
			padding-left: 30px;
			color: @color-3;
		}

	}
	.icons {
		background: url('../../assets/image/social-medias.png') no-repeat;
		display: inline-block;
		width: 30px;
		height: 30px;
		padding: 10px;
	}
	.facebook {
		background-position: 0 -5px;
	}

	.twitter {
		background-position: -151px -5px;
	}

	.pinterest {
		background-position: -99px -5px;
	}

	.twitter-bird {
		background-position: -50px -5px;
	}

	.google {
		background-position: -200px -5px;
	}
}