@import (reference) "../structure/global.less";

header {
	text-align: center;
    position: fixed;
    width: 100%;
	top: 0;
	background: @white;
	z-index: 1;
		
	.search-mobile {
		input {
			border: 1px solid @color-2;
			border-radius: 5px;
			padding: 10px;
			position: relative;
			top: 10px;
			padding-left: 40px;
			width: 50%;
			z-index: 3;
		}
		
		button {
			position: absolute;
			top: 15px;
			z-index: 4;
			color: @color-3;
			font-size: 20px;
		}
	}
	
	.logo {
		float: left;
		padding-top: 5px;

		@media screen and (min-width: @sm){
			padding-left: 5%;
		}
		
		.name {
			color: @color-3;
			font-size: 30px;
			font-family: @font-second;
			font-weight: 500;
			text-align: center;
			margin: 0;
			text-transform: uppercase;
			
			span {
				color: lighten(@color-3, 20%);
				font-family: @font-second;
				font-weight: 300;
			}
		}
		.slogan {
			font-family: @font-padrao;
			font-style: italic;
			color: @color-1;
			margin: 0;
			text-align: center;			
			
			&:after,
			&:before {	
				display: inline-block;
				content: "";
				border-top: 1px solid @color-1;
				width: 20px;
				margin: 0 5px;
				transform: translateY(-4px);	
			}
		}
	}
	.search-bar {
		width: 50%;
		padding-top: 30px;
		float: left;

		button {
			position: absolute;
			border: 0;
			font-size: 20px;
			margin-top: -4px;
			margin-left: 5px;
			cursor: pointer;
			color: @color-3;
		}

		input {
			width: 55%;
			border-radius: 5px;
			border: 1px solid @black;
			height: 35px;
			margin-top: -20px;
			padding-left: 40px;
		}

		@media screen and (max-width: @sm){
			display: none;
		}
	}
	
	.cart {
		float: right;
		padding-top: 10px;
		width: 15%;
		padding-right: 20px;

		@media screen and (min-width: @md){
			width: 20%;
			padding-right: 5%;
			display: inline-flex;
		}

		.bag {
			text-transform: uppercase;
			color: @color-2;
				@media screen and (min-width: @md){
					line-height: 3;
				}

			span {
				color: @color-3;
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		.shipping {
			display: none;
			@media screen and (min-width: @md){
				display: block;
				text-align: left;
				padding-right: 25px;
				font-style: italic;
				line-height: 1.5;
				color: @color-3;
			}
		}
	}
}
.shipping-mobile {
	position: fixed;
	background-color: @color-2;
	width: 100%;
	left: 0;
    padding: 10px;
    padding-left: 0;	
	top: 70px;
	display: block;

	@media screen and (min-width: @md){
		display: none;
	}

	span {
		font-style: italic;
		font-family: @font-padrao;
		font-size: 15px;
    	font-weight: 300;
	}
}