.lightBox_wrap {
    overflow: scroll;
    display: none;
    align-items: center;
    justify-content: center;

    .lightBox_bg {
        position: fixed;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: @black;
    }

    .lightBox_content {
        background: @white;
        padding: 5px;
    }

    .lightBox_content_wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 99999;
    }

    .lightBox_cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: @color-3;
        color: @white;
        position: absolute;
        left: -30px;
        top: -30px;
        cursor: pointer;
    }

}


