        .overlay {
            height: 100%;
            width: 100%;
            position: fixed;   
            top: 40px;
            left: 0;
            background-color: @white;
        }

        header {
            .menu-desktop {
                display: inline;
                ul {
                    list-style-type: none;
                    padding: 10px;
                    overflow: hidden;
                    background-color: @color-1;
                    right: 15px;
                    width: 100%;
                    position: relative;
                    display: inline-flex;
                }
                li {
                    float: left;
                    padding-left: 30px;
                    a {
                        display: inline-block;
                        color: @white;
                        text-align: center;
                        padding: 14px 16px;
                        text-decoration: none;

                        &:hover {
                            background-color: darken(@color-1, 10%);
                            border-radius: 5px;
                        }
                    }
                }
              @media screen and (max-width: @md){
                display: none;
             }
           }
        }

        #header-nav-mobile {
            display: none;
        }
        	#menu-mobile,
            #close-menu {
                float: left;
                padding-top: 10px;
                padding-right: 10px;
                display: block;
                
                i {
                    font-size: 35px;
                    color: @color-1;
                }
                
                @media screen and (min-width: @md){
                    display: none;
                }
            }
        .nav-mobile {
			background-color: @color-1;
            padding: 5px 0;
            margin-top: 30px;
            font-family: @font-padrao;
            font-style: italic;
            font-size: 14px;

            li {
                border-bottom: 1px solid lighten(@color-1, 11%);
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: left;

                &:hover {
                    background-color: darken(@color-1, 5%);
                    border-bottom: 0;
                }
            }

            a {
                padding-left: 25px;
                color: @white;
                text-decoration: none;
            }
            
            ul {
                text-align: center;
                padding-left: 0;

              > li {
                  display: inline-block;
                  border: 0;

                  &:first-child:after {
                      content: 'or';
                      color: @white;
                      padding-left: 10px;
                  }

              } 
              a {
                padding-left: 12px;
                }
            }
		}