@xs: 480px;
@sm: 768px;
@md: 992px;
@lg: 1200px;

// --------------- [ colors ] ---------------

@color-1 : #523468;
@color-2: #e6e6e6;
@color-3: #d73a1e;

@white : #fff;
@black: #000;


// --------------- [ font ] ---------------

@font-padrao: 'Droid Sans', sans-serif; 
@font-second: 'Oswald', sans-serif;
@font-awesome: 'FontAwesome';


// --------------- [ body ] ---------------

html,
body {
	font-size: 14px;
	line-height: normal;
    background: @white;
    overflow-x: hidden;
	margin: 0;
    padding: 0;   
    height: 100%;
    width: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
}